//DASHBOARD WITH DEFAULT PROFILE

.Grid1 {
    background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));
    
    //vertical container
    .VerticalContainer {
        background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94), rgb(29 26 57));
        width: 160px;
        height: 1000px; 
        position: fixed;
        
        img{
            width: 150px;
            height: 150px;
            margin-left: 10px;
            margin-top: 20px;
        }
    
        button {
            font-size: medium;
            background-color: rgba(144, 38, 112, 0);
        }
        
        button:hover {
            background-color:rgb(217 217 217);
            color: black;
        
            img {
                filter: brightness(0); 
                cursor: pointer; 
            }
        }
        .Profile, .Colleges, .Scholarships {
            width: 100%;
            background-color: rgb(217 217 217);
            border: none;
            cursor: pointer;
            padding-bottom: 10px;
        }
        
        .Profile {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
    
            img {
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
    
        }
    
        .Colleges {
            padding-top: 10px;
            background-color: rgba(144, 38, 112, 0); 
            color: rgb(217 217 217);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
    
            img {
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
    
        .Scholarships {
            padding-top: 10px;
            background-color: rgba(144, 38, 112, 0);
            color: rgb(217 217 217);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            img {
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
        img {
            object-fit: contain; 
        }
        .Notifications{
            margin-left: 38px;
            border: none;
            position: absolute;
            color: white;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                margin-left: 2px;
                width: 50px;
                height: 40px;
            }
            &:hover {
                color: rgba(253, 253, 253, 0.697);
                background-color: rgba(155, 97, 22, 0)
              }
        }
        .Logout{
            border: none;
            margin-left: 50px;
            margin-top: 60px;
            position: absolute;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
            img{ 
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }

            &:hover {
                color: rgba(211, 211, 211, 0.566);
                background-color: rgba(155, 97, 22, 0)
              }
        }

        .Notifications:hover img,
        .Logout:hover img {
          filter: invert(30%); // Invert back to original color on hover
        }
        .notification-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
            display: flex;
            justify-content: center;
            align-items: center;
          
            .notification-content {
                height: 500px;
                width: 1000px;
                background-color: rgba(0, 0, 0, 0.448);
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                color: aliceblue;
          
              h2 {
                margin-bottom: 10px;
              }
          
              button {
                margin-top: 360px;
                padding: 8px 20px;
                border: none;
                background-color: #eeeeee; // Example color, adjust as needed
                color: rgb(3, 3, 3);
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
          
                &:hover {
                  background-color: #ffffff6c; // Example color, adjust as needed
                }
              }
            }
        }
    }
    
    
    //HorizontalContainer
    .HorizontalContainer {
        background-color: rgb(217 217 217);
        padding: 10px;
        width: 1546px; 
        height: 360px;
        margin-left: 160px; 
        border-top-left-radius: 25px; 
        border-top-right-radius: 25px;
        border-bottom-left-radius: 15px; 
        border-bottom-right-radius: 15px;
        
        .MiniTabs{
            margin-top: 20px;
            margin-left: 70px;
        
        
            button{
                background-color: rgba(255, 0, 0, 0);
                font-size: 18px;
                font-weight:500; 
                border: 0px;
                margin-left: 35px;
                cursor: pointer;
                
                
                &:hover{
                    color: rgba(0, 0, 0, 0.388);
                }
            }
        }
       
        .LogCred {
            text-decoration: underline;
            text-decoration-color: rgb(69 25 82);
        }
    
        button.LogCred{
            &:hover{
                color: rgb(0, 0, 0);
            }
        }
    
        .ProfilePrompt{
            margin-top: 30px;
            margin-left: 110px;
            
            h1{
                font-size: 30px;
                font-weight: 500;
            }
            p {
                font-size: 20px;
                margin-left: 50px;
            }
        }
    
        .NameDis{
            display: flex;
            margin-top: 20px;
            margin-left: 130px;
            h1{
                margin-top: 40px;
                margin-left: 40px;
                font-size: 40px;
                font-weight: 500;
                p {
                    font-weight: 300;
                    font-size: 30px;
                }
            }
            
            img{
                height: 170px;
                width: 170px;
            }
        }
    }
    .HorizontalContainerBOTTOM {
        overflow: hidden;
        margin-top: 10px;
        background-color: rgb(217 217 217);
        padding: 10px;
        width: 1546px; 
        height: 411px;
        margin-left: 160px; 
        border-top-left-radius: 25px; 
        border-top-right-radius: 25px;
        
    }
}


