.Grid5 {
    background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));
    
    .VerticalContainer {
        background-image: linear-gradient(rgb(102 37 73), rgb(102 37 73), rgb(102 37 73));
        width: 160px;
        height: 1000px; 
        position: fixed;
        
        img{
            width: 150px;
            height: 150px;
            margin-left: 10px;
            margin-top: 20px;
        }
    
        button {
            font-size: medium;
            background-color: rgba(255, 255, 255, 0);
        }
        
        button:hover {
            background-color:rgb(217 217 217);
            color: black;
        
            img {
                filter: brightness(0); 
                cursor: pointer; 
            }
        }
        .Profile, .Colleges, .Scholarships {
            
            width: 100%;
            background-color: rgb(217 217 217);
            border: none;
            cursor: pointer;
            padding-bottom: 10px;
        }
        
        .Profile {
            background-color: rgba(255, 255, 255, 0);
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            color: rgb(217 217 217);
    
            img {
                filter: invert(100%);
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
    
        }
    
        .Colleges {
            padding-top: 10px;
            background-color: rgb(217 217 217);
            color: rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
    
            img {
                filter: brightness(0); 
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
    
        .Scholarships {
            padding-top: 10px;
            background-color: rgba(144, 38, 112, 0);
            color: rgb(217 217 217);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            img {
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
        img {
            object-fit: contain; 
        }
        .Notifications{
            margin-left: 38px;
            border: none;
            position: absolute;
            color: white;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                margin-left: 2px;
                width: 50px;
                height: 40px;
            }
            &:hover {
                color: rgba(253, 253, 253, 0.697);
                background-color: rgba(155, 97, 22, 0)
              }
        }
        .Logout{
            border: none;
            margin-left: 50px;
            margin-top: 60px;
            position: absolute;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
            img{ 
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }

            &:hover {
                color: rgba(211, 211, 211, 0.566);
                background-color: rgba(155, 97, 22, 0)
              }
        }

        .Notifications:hover img,
        .Logout:hover img {
          filter: invert(30%); // Invert back to original color on hover
        }
        .notification-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
            display: flex;
            justify-content: center;
            align-items: center;
            
          
            .notification-content {
                height: 500px;
                width: 1000px;
                background-color: rgba(0, 0, 0, 0.448);
                padding: 20px;
                border-radius: 5px;
                text-align: center;
                color: aliceblue;
          
              h2 {
                margin-bottom: 10px;
              }
          
              button {
                margin-top: 360px;
                padding: 8px 20px;
                border: none;
                background-color: #eeeeee; // Example color, adjust as needed
                color: rgb(3, 3, 3);
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
          
                &:hover {
                  background-color: #ffffff6c; // Example color, adjust as needed
                }
              }
            }
        }
    }
    
     .HorizontalContainer {
        background-image: linear-gradient(rgb(73 0 94), rgb(102 37 73), rgb(102 37 73));
        margin-left: 160px;
        position: absolute;
        
        .kolehigo{
            height: 70px;
            width: 300px;
            position: absolute;
            margin-top: 30px;
            margin-left: 40px;
        }
        
        .college1 {
            width: 1547px;
            height: 240px;
        }
    }
    .SearchBar{
        position: absolute;
        margin-left: 350px;
        margin-top: 110px;

        h1{
            margin-left: 170px;
            color: white;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 35px;
        }
        .search-bar{
            height: 45px;
            width: 800px;
            border-radius: 25px;
            padding-left: 40px;
            font-size: 18px;
        }

        .search-button{
            color: white;
            background-color: rgb(29, 26, 57);
            position: absolute;
            margin-left: 730px;
            border-radius: 25px;
            margin-top: 9px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .Search-img{
            margin-left: 15px;
            margin-top: 12px;
            position: absolute;
        }
    }
    .HorizontalContainer1{
        
        position: absolute;
        background-color: rgb(217, 217, 217);
        margin-top: 243px;
        margin-left: 159px;
        padding-right: 90px;
        padding-bottom: 35px;
        display: flex;
        .Left{
            margin-left: 80px;
            img{
                position: absolute;
                margin-top: 20px;
                height: 100px;
                width: 110px;
            }
            h1{
                margin-top: 25px;
                margin-left: 150px;
                white-space: nowrap;
                font-weight: 600;
            }
            p{
                margin-top: 10px;
                margin-left: 150px;
            }
        }
        .Right{
            margin-left: 400px;
            .Compare{
                position: absolute;
                margin-top: 70px;
                background-color: rgb(29, 26, 57);
                color: aliceblue;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 50px;
                padding-right: 50px;
                border: none;
            }

            .Apply{
                margin-top: 70px;
                margin-left: 180px;
                background-color: rgb(73, 0, 94);
                color: aliceblue;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                border: none;
                white-space: nowrap;
            }
            button:hover{
                background-color: rgb(0, 0, 0);
                color: aliceblue;
            }
        }

    }

    .fill{
        position: absolute;
        padding: 5px;
        padding-right: 1542px;
        background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));
        margin-top: 384px;
        margin-left: 160px;
    }
    .HorizontalContainer2{
        
        margin-top: 392px;
        margin-left: 160px; 
        position: absolute;
        background-color: rgb(217, 217, 217);
        .MiniTabs {
            padding-right: 599px;
            display: flex;
            padding-top: 20px;
            margin-top: 2px;
            margin-left: 300px;
            white-space: nowrap;
        }
        
        .MiniTabs button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            margin-left: 55px;
            font-weight: 500;
            color: black;
            text-decoration: none;
            transition: text-decoration 0.3s ease; // Add transition for smooth effect
        }
        
        .MiniTabs button.underline {
            text-decoration: underline; // Apply underline when selected
        }
        .MiniTabs button:hover {
            opacity: 0.7; /* Reduce opacity on hover */
        }
    }
}