.Grid5 {
    background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));

    .VerticalContainer {
        background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94), rgb(29 26 57));
        width: 85px;
        height: 1000px; 
        position: fixed;
        
        img{
            width: 80px;
            height: 100px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        
        
        button {
            font-size: medium;
            background-color: rgba(144, 38, 112, 0);
        }
        
        button:hover {
            background-color:   rgb(217 217 217);
            color: black;
        
            img {
                filter: brightness(0); 
                cursor: pointer;
                margin-left: 10px;
            }
        }

        .Notifications, .Logout {
            width: 100%;
            background-color: rgba(144, 38, 112, 0);  // Transparent background initially
            color: rgb(217 217 217);  // Light grey text color
            border: none;
            cursor: pointer;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;  // Matching font size

            img {
                margin-bottom: -10px;
                width: 60px;
                height: 81px;
            }

            &:hover {
                background-color: rgb(217 217 217);  // Hover background color
                color: black;  // Hover text color

                img {
                    filter: brightness(0);
                    cursor: pointer;
                }
            }
        }

        .Profile, .Colleges, .Scholarships {
            width: 100%;
            background-color: rgb(217 217 217);
            border: none;
            cursor: pointer;
            padding-bottom: 0px;
        }
        
        .Profile {
            margin-top: 91px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
    
            img {
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
    
        }
    
        .Colleges {

            background-color: rgba(144, 38, 112, 0); 
            color: rgb(217 217 217);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
    
            img {
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
    
        .Scholarships {
            background-color: rgba(144, 38, 112, 0);
            color: rgb(217 217 217);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
            img {
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
        img {
            object-fit: contain; 
        }
    }
     .HorizontalContainer {
        background-image: linear-gradient(rgb(73 0 94), rgb(102 37 73), rgb(102 37 73));
        margin-left: 160px;
        position: absolute;
        
        .kolehigo{
            height: 70px;
            width: 300px;
            position: absolute;
            margin-top: 30px;
            margin-left: 40px;
        }
        
        .college1 {
            width: 1547px;
            height: 240px;
        }
    }
    .SearchBar{
        position: absolute;
        margin-left: 350px;
        margin-top: 110px;

        h1{
            margin-left: 170px;
            color: white;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 35px;
        }
        .search-bar{
            height: 45px;
            width: 800px;
            border-radius: 25px;
            padding-left: 40px;
            font-size: 18px;
        }

        .search-button{
            color: white;
            background-color: rgb(29, 26, 57);
            position: absolute;
            margin-left: 730px;
            border-radius: 25px;
            margin-top: 9px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .Search-img{
            margin-left: 15px;
            margin-top: 12px;
            position: absolute;
        }
    }
    .HorizontalContainer1{
        
        position: absolute;
        background-color: rgb(217, 217, 217);
        margin-top: 243px;
        margin-left: 159px;
        padding-right: 90px;
        padding-bottom: 35px;
        display: flex;
        .Left{
            margin-left: 80px;
            img{
                position: absolute;
                margin-top: 20px;
                height: 100px;
                width: 110px;
            }
            h1{
                margin-top: 25px;
                margin-left: 150px;
                white-space: nowrap;
                font-weight: 600;
            }
            p{
                margin-top: 10px;
                margin-left: 150px;
            }
        }
        .Right{
            margin-left: 400px;
            .Compare{
                position: absolute;
                margin-top: 70px;
                background-color: rgb(29, 26, 57);
                color: aliceblue;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 50px;
                padding-right: 50px;
                border: none;
            }

            .Apply{
                margin-top: 70px;
                margin-left: 180px;
                background-color: rgb(73, 0, 94);
                color: aliceblue;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                border: none;
                white-space: nowrap;
            }
            button:hover{
                background-color: rgb(0, 0, 0);
                color: aliceblue;
            }
        }

    }

    .fill{
        position: absolute;
        padding: 5px;
        padding-right: 1542px;
        background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));
        margin-top: 384px;
        margin-left: 160px;
    }
    .HorizontalContainer2{
        
        margin-top: 392px;
        margin-left: 160px; 
        position: absolute;
        background-color: rgb(217, 217, 217);
        .MiniTabs {
            padding-right: 599px;
            display: flex;
            padding-top: 20px;
            margin-top: 2px;
            margin-left: 300px;
            white-space: nowrap;
        }
        
        .MiniTabs button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            margin-left: 55px;
            font-weight: 500;
            color: black;
            text-decoration: none;
            transition: text-decoration 0.3s ease; // Add transition for smooth effect
        }
        
        .MiniTabs button.underline {
            text-decoration: underline; // Apply underline when selected
        }
        .MiniTabs button:hover {
            opacity: 0.7; /* Reduce opacity on hover */
        }
    }
}