.Grid3 {
    background-image: linear-gradient(rgb(102 37 73),rgb(73 0 94));
   

    //vertical container
    .VerticalContainer {
        background-image: linear-gradient(rgb(102 37 73), rgb(102 37 73), rgb(102 37 73));
        width: 160px;
        height: 1000px; 
        position: fixed;
        
        img{
            width: 150px;
            height: 150px;
            margin-left: 10px;
            margin-top: 20px;
        }
    
        button {
            font-size: medium;
            background-color: rgba(255, 255, 255, 0);
        }
        
        button:hover {
            background-color:rgb(217 217 217);
            color: black;
        
            img {
                filter: brightness(0); 
                cursor: pointer; 
            }
        }
        .Profile, .Colleges, .Scholarships {
            width: 100%;
            background-color: rgb(217 217 217);
            border: none;
            cursor: pointer;
            padding-bottom: 10px;
        }
        
        .Profile {
            background-color: rgba(255, 255, 255, 0);
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            color: rgb(217 217 217);
    
            img {
                filter: invert(100%);
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
    
        }
    
        .Colleges {
            padding-top: 10px;
            background-color: rgba(217, 217, 217, 0);
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
    
            img {
                filter: brightness(1); 
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
    
        .Scholarships {
            padding-top: 10px;
            background-color: rgb(217 217 217); 
            color: rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            img {
                filter: brightness(0); 
                margin-right: 11px;
                margin-bottom: -10px; 
                width: 60px;
                height: 81px;
            }
        }
    
        img {
            object-fit: contain; 
        }
    }

    .HorizontalContainer {
        background-image: linear-gradient(rgb(73 0 94), rgb(102 37 73), rgb(102 37 73));
        margin-left: 160px;
        position: absolute;
        
        h1{
            margin-top: 50px;
            font-size: 40px;
            position: absolute;
            margin-left: 470px;
            color: white;
            font-weight: 600;
        }
        .kolehigo{
            height: 70px;
            width: 300px;
            position: absolute;
            margin-top: 30px;
            margin-left: 40px;
        }
        
        .college1 {
            width: 1547px;
            height: 110px;
        }
    }
    .SearchBar{
        position: fixed;
        margin-left: 350px;
        
        h1{
            margin-left: 170px;
            color: white;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 35px;
        }
        .search-bar{
            height: 45px;
            width: 800px;
            border-radius: 25px;
            padding-left: 40px;
            font-size: 18px;
        }

        .search-button{
            color: white;
            background-color: rgb(29, 26, 57);
            position: absolute;
            margin-left: 730px;
            border-radius: 25px;
            margin-top: 9px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .Search-img{
            margin-left: 15px;
            margin-top: 12px;
            position: absolute;
        }
    }

    .HorizontalContainer1{
        width: 1547px;
        padding-top: 20px;
        height: 303px;
        background-color: rgb(217 217 217);
        margin-left: 160px;
        margin-top: 110px;
        position: absolute;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent items from wrapping */
        .scroll-container {
            display: inline-block; 
        }
        

        h6 {
            font-weight: 600;
            margin-top: 120px;
            margin-left: 40px;
            font-size: 25px;
        }

        .Promoted-colleges{
            display: flex;
            margin-top: 15px;
            margin-left: 40px;
            overflow-x: auto; 
            overflow-y: hidden;
            position: absolute;

            .CPU {
                margin-left: 20px;
                display: flex;
                background-color:white;
                height:85px;
                border-radius: 15px;
                width: 560px;

                .Left{
                    margin-top: 10px;
                    margin-left: 0px;

                    .CPU {
                        height: 60px;
                        width: 70px;
                        position: absolute;
                    }

                    h5{
                        margin-top: 5px;
                        margin-left: 100px;
                        font-size: 17px;
                    }

                    p{
                        margin-top: 3px;
                        margin-left: 100px;
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
                .Right {
                    margin-left: 30px;
                    margin-top: 10px;

                    .Add-colleges{
                        margin-top: 2px;
                        border-radius: 15px;
                        background-color: rgb(29, 26, 57);
                        color: white;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-weight: 400;
                        font-size: 8px; 
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border: none;
                    }
                    .view{
                        margin-top: 8px;
                        border-radius: 15px;
                        background-color: rgb(69, 25, 82);
                        color: white;
                        padding-right: 30px;
                        padding-left: 30px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        font-weight: 400;
                        font-size: 12px; 
                        border: none;
                    }

                    button:hover {
                        background-color: rgb(0, 0, 0);
                        color: aliceblue;
                    }
                
                }
            }
        }
    }

    .HorizontalContainer2{
        background-color: rgb(217 217 217);
        position: absolute;
        margin-top: 412px;
        margin-left: 160px;
        width: 1547px;
        height: 369px;
        overflow-x: hidden; 
        overflow-y: auto;
        position: absolute;

        .Tabs{
            background-color: white;
            margin-top: 10px;
            margin-left: 80px;
            border-radius: 8px;
            height: 40px;
            width: 1200px;
            .Prev{
                margin-top: 10px;
                margin-left: 800px;
                position: absolute;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 4px;
                padding-bottom: 4px;
                color: white;
                border-radius: 10px;
                border: none;
                background-color: rgb(69, 25, 82);
            }
            .Next{
                margin-top: 10px;
                margin-left: 1060px;
                position: absolute;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 4px;
                padding-bottom: 4px;
                color: white;
                border-radius: 15px;
                border: none;
                background-color: rgb(69, 25, 82);
            }

            button:hover{
                background-color: rgb(0, 0, 0);
                color: aliceblue;
            }
        }
        .DOST{
            margin-top: 15px;
            margin-left: 150px;
            display: flex;
            background-color: white;
            width: 1000px;
            height: 130px;
            border-radius: 25px;

            .DOST1{
                margin-left: 20px;
                margin-top: 25px;
                height: 80px;
                width: 90px;
                position: absolute;
            }

            h5{
                margin-top: 30px;
                margin-left: 130px;
                font-weight: 600;
                font-size: 25px;
            }
    
            p{  
                margin-top: 4px;
                margin-left: 130px;
                font-size: 13px;
                font-weight: 300;
            }

            .Add-colleges{
                color: white;
                background-color: rgb(29, 26, 57);
                margin-top: 60px;
                margin-left: 235px;
                position: absolute;
                border-radius: 10px;
                border: none;
                font-size: 10px;
                padding-left: 17px;
                padding-right: 17px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .view {
                background-color: rgb(69, 25, 82);
                padding-left: 50px;
                padding-right: 46px;
                border-radius: 10px;
                color: white;
                border: none;
                margin-top: 90px;
                margin-left: 235px;
                position: absolute;
                padding-top: 4px;
                padding-bottom: 4px;
            }

            button:hover{
                background-color: rgb(0, 0, 0);
                color: aliceblue;
            }

        }
        .DOST1{
            margin-top: 30px;
            margin-left: 150px;
            display: flex;
            background-color: white;
            width: 1000px;
            height: 130px;
            border-radius: 25px;

            .DOST1{
                margin-left: 20px;
                margin-top: 25px;
                height: 80px;
                width: 90px;
                position: absolute;
            }

            h5{
                margin-top: 30px;
                margin-left: 130px;
                font-weight: 600;
                font-size: 25px;
            }
    
            p{  
                margin-top: 4px;
                margin-left: 130px;
                font-size: 13px;
                font-weight: 300;
            }

            .Add-colleges{
                color: white;
                background-color: rgb(29, 26, 57);
                margin-top: 60px;
                margin-left: 230px;
                position: absolute;
                border-radius: 10px;
                border: none;
                font-size: 10px;
                padding-left: 20px;
                padding-right: 17px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .view {
                background-color: rgb(69, 25, 82);
                padding-left: 50px;
                padding-right: 50px;
                border-radius: 10px;
                color: white;
                border: none;
                margin-top: 90px;
                margin-left: 230px;
                position: absolute;
                padding-top: 4px;
                padding-bottom: 4px;
            }

            button:hover{
                background-color: rgb(0, 0, 0);
                color: aliceblue;
            }
        }
    }
}


